GLCM WITH KNN

In [3]:
import pandas as pd
df = pd.read_csv('/content/Dataset_glcm.csv')
df.head(10)

,Unnamed: 0,dissimilarity,correlation,homogeneity,contrast,ASM,energy,label
0,0,19.524584,0.400429,0.073640,771.373208,0.000250,0.015820,SAPI
1,1,16.873976,0.638779,0.074152,566.026084,0.000189,0.013754,SAPI
2,2,17.314821,0.475669,0.087051,648.010860,0.000274,0.016559,SAPI
3,3,15.335422,0.645979,0.112097,602.474760,0.000393,0.019816,SAPI
4,4,16.767608,0.609280,0.083202,597.947561,0.000238,0.015412,SAPI
5,5,14.432973,0.658341,0.090737,452.004424,0.000275,0.016588,SAPI
6,6,14.215538,0.649303,0.095181,432.236564,0.000265,0.016274,SAPI
7,7,15.323906,0.466964,0.086335,485.800894,0.000338,0.018372,SAPI
8,8,14.132077,0.558247,0.089153,390.865295,0.000292,0.017075,SAPI
9,9,13.657411,0.641893,0.090611,380.240483,0.000308,0.017553,SAPI

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     230 non-null    int64
 1   dissimilarity  230 non-null    float64
 2   correlation    230 non-null    float64
 3   homogeneity    230 non-null    float64
 4   contrast       230 non-null    float64
 5   ASM            230 non-null    float64
 6   energy         230 non-null    float64
 7   label          230 non-null    object
dtypes: float64(6), int64(1), object(1)
memory usage: 14.5+ KB

In [5]:
# hapus atribut yang tidak berguna
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,dissimilarity,correlation,homogeneity,contrast,ASM,energy,label
0,19.524584,0.400429,0.073640,771.373208,0.000250,0.015820,SAPI
1,16.873976,0.638779,0.074152,566.026084,0.000189,0.013754,SAPI
2,17.314821,0.475669,0.087051,648.010860,0.000274,0.016559,SAPI
3,15.335422,0.645979,0.112097,602.474760,0.000393,0.019816,SAPI
4,16.767608,0.609280,0.083202,597.947561,0.000238,0.015412,SAPI

In [6]:
# memisahkan atribut dan label
X = df[['dissimilarity', 'correlation', 'homogeneity', 'contrast', 'ASM', 'energy' ]]
y = df['label']
# Membagi dataset menjadi data latih & data uji
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
print(y_train)

52     SAPI
10     SAPI
206    BABI
91     SAPI
26     SAPI
       ...
98     SAPI
220    BABI
66     SAPI
126    BABI
109    SAPI
Name: label, Length: 184, dtype: object

In [7]:
print(X_test)

     dissimilarity  correlation  homogeneity     contrast       ASM    energy
184      16.182028     0.559277     0.107182   565.141870  0.000472  0.021736
148       4.116235     0.873961     0.262647    45.582255  0.001627  0.040337
179      17.197922     0.422061     0.073053   500.507879  0.000284  0.016860
210       6.728120     0.891495     0.164055    89.050759  0.000634  0.025186
81       18.483436     0.587661     0.078411   714.752920  0.000211  0.014517
89       17.567609     0.609985     0.097766   753.249809  0.000283  0.016819
120      11.028603     0.774950     0.131268   303.956640  0.000513  0.022650
80       12.064726     0.407804     0.103602   329.257697  0.000591  0.024301
199       6.882687     0.712012     0.143136    80.495920  0.000917  0.030279
20       15.573975     0.572387     0.086397   492.763688  0.000284  0.016852
42       13.257855     0.690077     0.092588   383.775188  0.000359  0.018956
130       9.689189     0.505650     0.168322   266.235322  0.000849  0.029142
85       14.396089     0.628820     0.094796   473.930870  0.000313  0.017687
178       6.909522     0.910240     0.167259   115.271280  0.000523  0.022859
24       12.368831     0.475483     0.115718   354.244753  0.000591  0.024303
219       7.404838     0.517875     0.187072   137.723696  0.001597  0.039962
19       11.818911     0.494523     0.130336   372.082200  0.000869  0.029483
53       21.928077     0.378184     0.071834  1050.663691  0.000237  0.015409
108      15.243749     0.667889     0.089215   498.294353  0.000244  0.015632
167      10.545297     0.388143     0.150599   316.404650  0.000817  0.028584
171       9.950840     0.583775     0.107862   177.911202  0.000587  0.024236
122       8.217041     0.647594     0.131231   125.100845  0.000823  0.028690
79       16.039666     0.518215     0.074186   504.647764  0.000253  0.015914
82       18.545606     0.616139     0.079710   786.792592  0.000210  0.014503
190      13.480123     0.447013     0.183926   672.310646  0.001844  0.042946
213      10.019364     0.736709     0.175234   265.802295  0.000690  0.026269
127       9.943833     0.356576     0.167123   300.446500  0.001186  0.034439
33       15.737030     0.580776     0.105048   658.805037  0.000424  0.020585
211       8.631024     0.552013     0.119398   127.723823  0.000793  0.028167
31       17.209761     0.501102     0.074744   594.169416  0.000252  0.015869
71       10.521332     0.746281     0.127955   251.190721  0.000562  0.023708
182      14.641961     0.534887     0.100612   495.060261  0.000487  0.022065
194       6.215234     0.892597     0.166760    70.467200  0.000699  0.026431
203      11.851375     0.910060     0.151165   351.437298  0.000388  0.019689
133       9.665210     0.414726     0.154455   221.014753  0.001203  0.034683
4        16.767608     0.609280     0.083202   597.947561  0.000238  0.015412
37       13.824450     0.631875     0.115657   514.739160  0.000393  0.019816
72       19.129945     0.577358     0.075765   795.518055  0.000207  0.014378
21       15.474372     0.598685     0.077599   459.704979  0.000247  0.015701
212       7.531881     0.632259     0.171774   138.459699  0.001220  0.034931
207       7.256854     0.464993     0.162155   103.079496  0.001614  0.040170
177       4.456140     0.650845     0.235796    44.981911  0.002873  0.053596
157      10.524194     0.920394     0.120574   234.358837  0.000295  0.017187
175       6.672053     0.592675     0.188130   121.896974  0.001312  0.036228
23       13.961657     0.647162     0.112407   478.634781  0.000438  0.020939
61       12.881055     0.590061     0.116827   402.322767  0.000423  0.020562

**ALGORITMA KNN**

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np

In [9]:
model_KNN = KNeighborsClassifier(5)

In [12]:
from sklearn.model_selection import cross_val_score
 
# mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(model_KNN, X, y, cv=5)
scores

array([0.84782609, 0.80434783, 0.82608696, 0.7826087 , 0.89130435])

In [13]:
model_KNN.fit(X_train, y_train)

KNeighborsClassifier()

In [14]:
import sklearn.metrics as metrics
#data train accuracy
y_pred = model_KNN.predict(X_train)
print(metrics.accuracy_score(y_train, y_pred))

0.875

In [15]:
#data test accuracy
y_pred = model_KNN.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.8043478260869565

In [16]:
print(model_KNN.predict([[12.511137, 0.576175, 0.107229, 352.602871, 0.000396,0.019911]])[0])

SAPI

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [21]:
# save the model to disk
import pickle
filename = 'KNN Model.sav'
pickle.dump(model_KNN, open(filename, 'wb'))

LBP WITH KNN

In [20]:
import pandas as pd
df2 = pd.read_csv('/content/Dataset_LBP.csv')
df2.head(10)

   Uniformity    Energy   Entropy Label
0         0.0  0.233118  0.744894  SAPI
1         0.0  0.314254  0.252407  SAPI
2         0.0  0.187299  0.758315  SAPI
3         0.0  0.194237  0.344809  SAPI
4         0.0  0.321262  0.561610  SAPI
5         0.0  0.353561  0.389196  SAPI
6         0.0  0.444464  0.355075  SAPI
7         0.0  0.308632  0.620955  SAPI
8         0.0  0.254161  0.244014  SAPI
9         0.0  0.210585  0.572214  SAPI

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Uniformity  230 non-null    float64
 1   Energy      230 non-null    float64
 2   Entropy     230 non-null    float64
 3   Label       230 non-null    object
dtypes: float64(3), object(1)
memory usage: 7.3+ KB

In [23]:
# memisahkan atribut dan label
X = df2[['Uniformity', 'Energy', 'Entropy' ]]
y = df2['Label']
# Membagi dataset menjadi data latih & data uji
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
print(y_train)

52     SAPI
10     SAPI
206    BABI
91     SAPI
26     SAPI
       ...
98     SAPI
220    BABI
66     SAPI
126    BABI
109    SAPI
Name: Label, Length: 184, dtype: object

In [24]:
print(y_test)

184    BABI
148    BABI
179    BABI
210    BABI
81     SAPI
89     SAPI
120    BABI
80     SAPI
199    BABI
20     SAPI
42     SAPI
130    BABI
85     SAPI
178    BABI
24     SAPI
219    BABI
19     SAPI
53     SAPI
108    SAPI
167    BABI
171    BABI
122    BABI
79     SAPI
82     SAPI
190    BABI
213    BABI
127    BABI
33     SAPI
211    BABI
31     SAPI
71     SAPI
182    BABI
194    BABI
203    BABI
133    BABI
4      SAPI
37     SAPI
72     SAPI
21     SAPI
212    BABI
207    BABI
177    BABI
157    BABI
175    BABI
23     SAPI
61     SAPI
Name: Label, dtype: object

In [25]:
print(X_test)

     Uniformity    Energy   Entropy
184         0.0  0.004601  0.964865
148         0.0  0.007683  0.895133
179         0.0  0.007780  0.965313
210         0.0  0.040091  0.938636
81          0.0  0.301163  0.317992
89          0.0  0.096762  0.465923
120         0.0  0.005247  0.994994
80          0.0  0.121663  0.780420
199         0.0  0.026225  0.956168
20          0.0  0.077855  0.480640
42          0.0  0.227989  0.450221
130         0.0  0.009995  0.979122
85          0.0  0.204813  0.251066
178         0.0  0.009871  0.938239
24          0.0  0.343056  0.438873
219         0.0  0.026759  0.954130
19          0.0  0.517164  0.439781
53          0.0  0.236255  0.392626
108         0.0  0.294802  0.695052
167         0.0  0.035821  0.942253
171         0.0  0.025566  0.980388
122         0.0  0.025217  0.977573
79          0.0  0.086832  0.659033
82          0.0  0.860633  0.283010
190         0.0  0.015989  0.991594
213         0.0  0.003635  0.974131
127         0.0  0.001502  0.978300
33          0.0  0.630738  0.467313
211         0.0  0.027273  0.973355
31          0.0  0.108369  0.643999
71          0.0  0.085404  0.676943
182         0.0  0.002905  0.982218
194         0.0  0.014485  0.875608
203         0.0  0.034642  0.967742
133         0.0  0.023437  0.972175
4           0.0  0.321262  0.561610
37          0.0  0.103653  0.694009
72          0.0  0.314920  0.599718
21          0.0  0.175705  0.523344
212         0.0  0.019023  0.961824
207         0.0  0.014573  0.947922
177         0.0  0.021738  0.875081
157         0.0  0.013464  0.965863
175         0.0  0.006803  0.941827
23          0.0  0.143212  0.521575
61          0.0  0.275632  0.457617

ALGORITMA KNN

In [26]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np

In [27]:
model_KNN2 = KNeighborsClassifier(5)

In [29]:
from sklearn.model_selection import cross_val_score
 
# mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(model_KNN2, X, y, cv=5)
scores

array([1.        , 1.        , 1.        , 1.        , 0.97826087])

In [30]:
model_KNN2.fit(X_train, y_train)

KNeighborsClassifier()

In [32]:
import sklearn.metrics as metrics
#data train accuracy
y_pred = model_KNN2.predict(X_train)
print(metrics.accuracy_score(y_train, y_pred))

0.9945652173913043

In [33]:
#data test accuracy
y_pred = model_KNN2.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

1.0

In [36]:
print(model_KNN2.predict([[0.0,  0.007683, 0.895133]])[0])

BABI

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [37]:
# save the model to disk
import pickle
filename = 'KNN Model2.sav'
pickle.dump(model_KNN2, open(filename, 'wb'))